// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



#letters {
  display: flex;
}


.card {
      width: 25px;
      padding: 20px;
      margin: 20px;
  color: white;
  background-color: #007BFF;
  display: flex;
}
